<aside class="sidebar">
  <div class="sidebar-inner">
    <div class="widget">
      <h3>À propos</h3>
      <p>Bienvenue sur mon site !</p>
    </div>

    <div>
      <h3>Catégories</h3>
      <ul class="categories">
        {{- range $name, $items := site.Taxonomies.categories }}
        <li>
          <a href="{{ "categories/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize }} ({{ len $items }})</a>
        </li>
        {{- end }}
      </ul>
    </div>

    <div>
      <h3>Tags</h3>
      <ul class="terms-tags-mini">
        {{- range $name, $items := site.Taxonomies.tags }}
        <li>
          <a href="{{ "tags/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize }} ({{ len $items }})</a>
        </li>
        {{- end }}
      </ul>
    </div>

  </div>
</aside>
