<aside class="sidebar">
  <div class="sidebar-inner">

    {{ with site.Data.site_info.about_widget }}    
    <div class="widget">
      <h3>{{ .title }}</h3>
      <p>{{ .text }}</p>
    </div>
    {{ end }}
    <div>
      <h3>Catégories</h3>
      <ul class="categories">
        {{- range $name, $items := site.Taxonomies.categories }}
        <li>
          <a href="{{ "categories/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize }} ({{ len $items }})</a>
        </li>
        {{- end }}
      </ul>
    </div>

    <div>
      <h3>Tags</h3>
      <ul class="terms-tags-mini">
        {{- range $name, $items := site.Taxonomies.tags }}
        <li>
          <a href="{{ "tags/" | relLangURL }}{{ $name | urlize }}">{{ $name | humanize }} ({{ len $items }})</a>
        </li>
        {{- end }}
      </ul>
    </div>


    <div class="pinned_article">

    </div>

    <div>
      {{- partial "youtube.html" "tFU2nhcu2Fs" }}
    </div>

  </div>
</aside>
